<!-- nav -->
<navBar *ngIf="currentUser"></navBar>
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
        <a routerLink="/newPatient" class="nav-item nav-link">Add New Patient</a>
        <p class="text-left" >
            Osama
        </p>
    </div>

</nav> -->

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="">
                <router-outlet *ngIf="!currentUser"></router-outlet>
            </div>
        </div>
    </div>
</div>